<table class="table">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>

    <tbody>
        <tr class="align-middle" *ngFor="let product of products">
            <td>
                <img src="{{ product.imageUrl }}" height="100px"/>
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.unitPrice | currency:'GBP' }} </td>
            <td>{{ product.unitsInStock }} </td>
        </tr>
    </tbody>

</table>